<a href="https://colab.research.google.com/github/HONGRYEON-LEE/class2022Spring/blob/main/2022_03_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming language: 변수(vatiable), 문법(syntax)-조건 if/반복 for, 함수(function), 패키지(package)

변수의 유형: 숫자(number- int/float),글자(string),list,단어(dict)
* 꼭 import먼저 해서 실행하고 print해야 한다.
* 마지막 행인 경우 print 꼭 안 붙여도 된다.

In [ ]:
a = 1 
print (type (a))
print (a)

<class 'int'>
1

In [ ]:
a = 1.1
print (type (a))
print (a)

<class 'float'>
1.1

1.  string일 경우 -''/""붙여야 한다. 
2.  순서는 0,1,2,3...
3.  string에서 선택할 때 print (a [순서]) 사용
4.  2개 이상 실행할 때 ; 사용
5.  전부 선택 [:]
6.  처음부터 5번째 선택 [:5] / [0: 5]
7.  2번째부터 끝에서부터 1번째 a[2:4] = a [2:-1] (list길이 총 5개일 경우)
8.  총 길이 표현 방법 len ()
9.  하나 이상 같이 선택 print ( a [0], a [1]...)
10. 반복 a[1]+a[2]+a[3] * x
11. 대문자 바꾸기 a.upper
12. 순서 찾기 result = a. find ('')
13. 합치기 a = a.strip()
14. 나누기 tokens = a.split(' ') - 뛰어쓰기 필요
15. ''붙이기 a = ' '.join(tokens)
16. 단어 대체 a = a.replace ('this', 'that')
17. \n 줄 바꾸기

In [ ]:
a = 'hello'
print (type (a)) ; print (a [3]) ; print (a [4]) ; print (a [0]) ; print (a [0:-1]); print (a [0:4])

<class 'str'>
l
o
h
hell
hell

In [ ]:
a = '45698'
print (type (a)) ; print (a [0]) ; print (a[3]); print (a [:]) ; print (a [1:5])

<class 'str'>
4
9
45698
5698

In [ ]:
 s = 'this is a big house.\n'
print (s)
result = s.find('big')
print (result)
s = s.strip()
print (s)
tokens = s.split (' ')
print (tokens)
a = s.strip()
print (a)
s = a. replace ('this','that')
print (s)
tokens = s.split (' ')
print (tokens)
s = ' '.join (tokens)
print (s)

this is a big house.

10
this is a big house.
['this', 'is', 'a', 'big', 'house.']
this is a big house.
that is a big house.
['that', 'is', 'a', 'big', 'house.']
that is a big house.

1. list 형식 [x, x, x]
2. list 안에 list일 경우 [x,x,[x,x]]

In [ ]:
a = [1,2,3,4,5]
print (type (a));print (a [0]); print (a [:]); print (a [0:5])

<class 'list'>
1
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
a = [1,'3',[2,'4']]
print (type (a)) ; print (a [2])

<class 'list'>
[2, '4']

1. dict 형식: a = { 'a':'apple', 'b':'big'}
2. 순서는 따로 없음, 표현: 'a', 'b'

In [ ]:
a = {'s':'super','m':'man'}
print (type (a)) ; print (a ['s']) ; print (a ['m'])

<class 'dict'>
super
man

Syntax 문법 - 조건 if/반복 for
1. for i in a: - print (i) / for i in range (len(a)): - print (a[i]) -처음부터 하나하나씩 받아서 돌린다.
2. range (1,3) - [1,2]
3. print i*j -i,j의 결합
4. if i >=3 -i그 숫자가 3보다 크면
5. syntax 뒤에 꼭 :
6. b = [i for i in a if len(i)>=4] -길이 4개보다 긴 거 print

In [ ]:
a = [1,2,3,4]
for i in a:
  print (i)

1
2
3
4

In [ ]:
a = ['red','blue','yellow']
for i in range (len(a)):
  print (a [i])

red
blue
yellow

In [ ]:
a = 0
if a == 0:
  print (a)

0

In [ ]:
for i in range (1,3):
  for j in range (3,5):
    print (i*j)

3
4
6
8

[1,2] * [3,4]

In [ ]:
for i in range (1,3):
  for j in range (3,5):
    if j >= 4:
      print (i*j)

4
8

[1,2]*[4]

In [ ]:
a = [1,2,3,4,5]
b =[ i for i in a if i>=2]
print (b)

[2, 3, 4, 5]

In [ ]:
a = ['red','purple','blue']
b = [i for i in a if len(i)>=4]
print (b)

['purple', 'blue']

In [ ]:
a = ['red', 'blue','purple','orange']
b = [1,2,3,4]
c = {a[i]:b[i] for i in range (4) }
print (c)

{'red': 1, 'blue': 2, 'purple': 3, 'orange': 4}

**a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
c
{'blue': 3, 'green': 2, 'purple': 4, 'red': 1} - 교수님이 제공하신 순서는 어떻게 된건가?**

function- def(define)

def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

In [ ]:
def add (a,b):
  return a+b

def subtract (a,b):
  return a-b

def multiply (a,b):
  return a*b

def divide(a,b):
  return a/b

In [ ]:
c = add(1,2); print (c)
c = subtract (2,3); print (c)
c = multiply (1,2); print (c)
c = divide (1,2); print (c)

3
-1
2
0.5

package - numpy